thead{
  background-color: aquamarine;
  cursor: pointer;
  font-size: 18px;
  color: gray;
}

table{
  margin: 0 auto;
  border-collapse: collapse;
  font-weight: normal;
}

th{
  padding-right: 20px;
}