.App {
  text-align: center;
}

h1{
  margin: 0 auto;
  text-align: center;
}

div input{
  margin-left: 40%;
  margin-bottom: 10px;
}

thead{
  background-color: aquamarine;
  cursor: pointer;
  font-size: 18px;
  color: gray;
}

table{
  margin: 0 auto;
  border-collapse: collapse;
  font-weight: normal;
}

th{
  padding-right: 20px;
}

